body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}
.scene {
    margin-left: 50%;
    width: 600px;
    height: 450px;
}
.info {
    width: 40%;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
